<div class="eduprime-contact row">
    <div class="col-md-12">
        <label><i class="fa fa-user-o" aria-hidden="true"></i> <span class="wpcf7-form-control-wrap full-name"><input
                    type="text" name="full-name" value="" size="40"
                    class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true"
                    aria-invalid="false" placeholder="Full name"></span></label>
    </div>
    <div class="col-md-12">
        <label><i class="fa fa-envelope-o" aria-hidden="true"></i><span class="wpcf7-form-control-wrap email"><input
                    type="email" name="email" value="" size="40"
                    class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                    aria-required="true" aria-invalid="false" placeholder="Email Address"></span></label>
    </div>
    <div class="col-md-12">
        <label><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span
                class="wpcf7-form-control-wrap subject"><textarea name="subject" cols="40" rows="10"
                    class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" aria-required="true"
                    aria-invalid="false" placeholder="Message..."></textarea></span></label>
    </div>
    <div class="col-md-12 text-center">
        <button type="submit" class="submit-form"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
    </div>
</div>