<div id="navbar-collapse" role="navigation" class="navbar-collapse">
		<ul class="nav navbar-nav">
			<li class="dropdown esmenu-full">
				<a href="javascript:void(0)" data-target="#megamenu-items" data-toggle="collapse" class="navbar-toggle" aria-expanded="true">
					<i class="fa fa-th-large fa-lg menu-icon"></i>
				</a>
				<ul class="dropdown-menu collapse in" id="megamenu-items" aria-expanded="true" style="">
					<li>
						<div class="esmenu-content">
							<div class="tabbable row">
								<div class="col-md-3">
									<ul class="nav nav-pills nav-stacked">
																					<li class="">
												<a href="#academics"><i class="fa fa-calendar-o"></i> Academics</a>											</li>
																					<li class="">
												<a href="#hrms"><i class="fa fa-user"></i> Human Resource</a>											</li>
																					<li class="">
												<a href="#student"><i class="fa fa-users"></i> Student</a>											</li>
																					<li class="">
												<a href="#fees"><i class="fa fa-money"></i> Fees</a>											</li>
																					<li class="">
												<a href="#communication"><i class="fa fa-comments"></i> Communication</a>											</li>
																					<li class="">
												<a href="#reports"><i class="fa fa-line-chart"></i> Reports Center</a>											</li>
																					<li class="">
												<a href="#administration"><i class="fa fa-wrench"></i> Administration</a>											</li>
																					<li class="">
												<a href="#document"><i class="fa fa-file-text-o"></i> Document</a>											</li>
																					<li class="">
												<a href="#library"><i class="fa fa-university"></i> Library</a>											</li>
																					<li class="active">
												<a href="#settings"><i class="fa fa-cogs"></i> Settings</a>											</li>
																			</ul>
								</div><!-- end col -->
								<div class="col-md-9 menu-sub-items">
									<div class="tab-content">
																					<div id="academics" class="tab-pane">
												<div class="visible-sm visible-xs menu-box-header">
													<button aria-label="Close" class="close" type="button">
														<span aria-hidden="true">×</span>
													</button>
													<h4><i class="fa fa-calendar-o"></i> Academics</h4>
												</div>
												<div class="row">
													
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="#"><i class="fa fa-graduation-cap"></i> Course Management</a></li>
<li><a href="/academic-year/index"><i class="glyphicon glyphicon-calendar"></i> Academic Year</a></li>
<li><a href="/course/courses/index"><i class="fa fa-graduation-cap"></i> Course</a></li>
<li><a href="/course/courses-year-wise/index"><i class="fa fa-info-circle"></i> Year Wise Course</a></li>
<li><a href="/course/subject-master/index"><i class="fa fa-book"></i> Subject</a></li>
<li><a href="/course/batches/index"><i class="fa fa-sitemap"></i> Batch</a></li>
<li><a href="/course/section/index"><i class="fa fa-share-alt"></i> Section</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="#"><i class="fa fa-list"></i> Online Test</a></li>
<li><a href="/onlinetest/question-category/index"><i class="fa fa-link"></i> Question Category</a></li>
<li><a href="/onlinetest/question-master/index"><i class="fa fa-question-circle"></i> Questions</a></li>
<li><a href="/onlinetest/test-grading-system/index"><i class="fa fa-sort-alpha-asc"></i> Grading System</a></li>
<li><a href="/onlinetest/online-test-master/index"><i class="fa fa-list-alt"></i> Online Test</a></li>
<li><a href="/onlinetest/online-test-master/view-test-result"><i class="fa fa-file-text"></i> View Result</a></li>
<li><a href="/onlinetest/import-question/index"><i class="fa fa-upload"></i> Import Questions</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="/timetable/default/index"><i class="fa fa-calendar-o"></i> Timetable</a></li>
<li><a href="/timetable/room-category/index"><i class="fa fa-sort-alpha-asc"></i> Room Category</a></li>
<li><a href="/timetable/room-master/index"><i class="fa fa-object-ungroup"></i> Room Master</a></li>
<li><a href="/timetable/class-timing/index"><i class="fa fa-clock-o"></i> Class Timing</a></li>
<li><a href="/timetable/timetable-configuration/index"><i class="fa fa-calendar"></i> Timetable</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="/exam"><i class="fa fa-clipboard"></i> Examination</a></li>
<li><a href="/exam/grading-system"><i class="fa fa-sort-alpha-asc"></i> Grading System</a></li>
<li><a href="/exam/group"><i class="fa fa-link"></i> Exam Group</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="/attendance/default/student-attendance"><i class="fa fa-check-square-o"></i> Student Attendance</a></li>
<li><a href="/attendance/stu-attendance/index"><i class="fa fa-check-square"></i> Manage Student Attendance</a></li>
<li><a href="/timetable/timetable-details/employee-timetable?id=1"><i class="fa fa-check-square"></i> Lecture Attendance</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="#"><i class="fa fa-calendar-o"></i> Academics</a></li>
<li><a href="/academics/assignment/index"><i class="fa fa-object-group"></i> Assignment</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="#"><i class="fa fa-map-marker"></i> Placement</a></li>
<li><a href="/academics/placement/recruiter/index"><i class="fa fa-user"></i> Recruiter</a></li>
<li><a href="/academics/placement/jobs/index"><i class="fa fa-search"></i> Jobs</a></li></ul>		</div>
	</div>
												</div>
											</div><!--./tab-pane-->
																					<div id="hrms" class="tab-pane">
												<div class="visible-sm visible-xs menu-box-header">
													<button aria-label="Close" class="close" type="button">
														<span aria-hidden="true">×</span>
													</button>
													<h4><i class="fa fa-user"></i> Human Resource</h4>
												</div>
												<div class="row">
													
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="/employee/default/index"><i class="fa fa-user"></i> Employee Management</a></li>
<li><a href="/employee/emp-department/index"><i class="fa fa-sitemap"></i> Department</a></li>
<li><a href="/employee/emp-designation/index"><i class="fa fa-signal"></i> Designation</a></li>
<li><a href="/employee/emp-master/create"><i class="fa fa-user-plus"></i> Add Employee</a></li>
<li><a href="/employee/emp-master/index"><i class="fa fa-reorder"></i> Manage Employee</a></li>
<li><a href="/employee/emp-import/index"><i class="fa fa-upload"></i> Import Employee</a></li>
<li><a href="/hr/shift-allocation/index"><i class="fa fa-plus-square"></i> Shift Allocation</a></li>
<li><a href="/hr/emp-settings/index"><i class="fa fa-gear"></i> Employee Settings</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="#"><i class="fa fa-gears"></i> Employee Configuration</a></li>
<li><a href="/hr/shift/index"><i class="fa fa-clock-o"></i> Shift</a></li>
<li><a href="/hr/loan-type/index"><i class="fa fa-life-bouy"></i> Loan Type</a></li>
<li><a href="/hr/week-off/index"><i class="fa fa-calendar"></i> Week Off</a></li>
<li><a href="/national-holidays/index"><i class="fa fa-calendar-o"></i> National Holiday</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="#"><i class="fa fa-file-text-o"></i> Leave Management</a></li>
<li><a href="/hr/leave-type/index"><i class="fa fa-life-bouy"></i> Leave Type</a></li>
<li><a href="/hr/hr-leave-structure/index"><i class="fa fa-clock-o"></i> Leave Structure</a></li>
<li><a href="/hr/leave-allocation/index"><i class="fa fa-plus-square"></i> Leave Entitlement</a></li>
<li><a href="/hr/leave-reporting/index"><i class="fa fa-users"></i> Leave Reporting</a></li>
<li><a href="/hr/leave-application/leave-report"><i class="fa fa-list-alt"></i> Leave Applications</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="#"><i class="fa fa-check-square-o"></i> Attendance</a></li>
<li><a href="/hr/employee-attendance/index"><i class="glyphicon glyphicon-check"></i> Take Attendance</a></li>
<li><a href="/hr/employee-attendance/manage-attnd"><i class="fa fa-reorder"></i> Manage Attendance</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="#"><i class="fa fa-bullseye"></i> Payroll</a></li>
<li><a href="/hr/salary-component/index"><i class="glyphicon glyphicon-tasks"></i> Salary Component</a></li>
<li><a href="/hr/salary-structure/index"><i class="fa fa-clock-o"></i> Salary Structure</a></li>
<li><a href="/hr/emp-salary-component/index"><i class="fa fa-check-square-o"></i> Employee Salary Component</a></li>
<li><a href="/hr/loan/index"><i class="fa fa-money"></i> Employee Loan</a></li>
<li><a href="/hr/salary-slip/index"><i class="fa fa-credit-card"></i> Salary Slip</a></li>
<li><a href="/hr/salary-slip/list"><i class="fa fa-print"></i> Print Salary Slip</a></li>
<li><a href="/hr/publish-slip/index"><i class="fa fa-bullhorn"></i> Publish Salary Slip</a></li></ul>		</div>
	</div>
												</div>
											</div><!--./tab-pane-->
																					<div id="student" class="tab-pane">
												<div class="visible-sm visible-xs menu-box-header">
													<button aria-label="Close" class="close" type="button">
														<span aria-hidden="true">×</span>
													</button>
													<h4><i class="fa fa-users"></i> Student</h4>
												</div>
												<div class="row">
														
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="/student/default/index"><i class="fa fa-users"></i> Student</a></li>
<li><a href="/student/stu-category/index"><i class="fa fa-sort-alpha-asc"></i> Admission Category</a></li>
<li><a href="/student/stu-master/create"><i class="fa fa-user-plus"></i> Add Student</a></li>
<li><a href="/student/stu-master/index"><i class="fa fa-reorder"></i> Manage Student</a></li>
<li><a href="/student/stu-import/index"><i class="fa fa-upload"></i> Import Student</a></li>
<li><a href="/student/stu-status/index"><i class="fa fa-info-circle"></i> Student Status</a></li>
<li><a href="/student/stu-master/promote-student"><i class="fa fa-exchange"></i> Promote Student</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="/admission/default/index"><i class="fa fa-user-plus"></i> Enquiry</a></li>
<li><a href="/admission/stu-admission-master/create"><i class="fa fa-external-link"></i> Online Application</a></li>
<li><a href="/admission/stu-admission-master/index"><i class="fa fa-users"></i> Manage Enquiry</a></li>
<li><a href="/admission/admission-letter/index"><i class="fa fa-file-text-o"></i> Admission Letter</a></li></ul>		</div>
	</div>
												</div>
											</div><!--./tab-pane-->
																					<div id="fees" class="tab-pane">
												<div class="visible-sm visible-xs menu-box-header">
													<button aria-label="Close" class="close" type="button">
														<span aria-hidden="true">×</span>
													</button>
													<h4><i class="fa fa-money"></i> Fees</h4>
												</div>
												<div class="row">
														
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="/fees/default/index"><i class="fa fa-money"></i> Fees</a></li>
<li><a href="/fees/bank-master/index"><i class="fa fa-bank"></i> Bank Master</a></li>
<li><a href="/fees/fees-collect-category/index"><i class="fa fa-sort-alpha-asc"></i> Fees Category</a></li>
<li><a href="/fees/fees-other-category/index"><i class="fa fa-sort-alpha-asc"></i> Other Fees Category</a></li>
<li><a href="/fees/fees-collect-category/assign-fees"><i class="fa fa-exchange"></i> Assign Fees</a></li>
<li><a href="/fees/fees-payment-transaction/student-list"><i class="fa fa-money"></i> Student Fees</a></li></ul>		</div>
	</div>
												</div>
											</div><!--./tab-pane-->
																					<div id="communication" class="tab-pane">
												<div class="visible-sm visible-xs menu-box-header">
													<button aria-label="Close" class="close" type="button">
														<span aria-hidden="true">×</span>
													</button>
													<h4><i class="fa fa-comments"></i> Communication</h4>
												</div>
												<div class="row">
														
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="/dashboard/default/index"><i class="fa fa-dashboard"></i>Dashboard Management</a></li>
<li><a href="/dashboard/msg-of-day/index"><i class="fa fa-list-alt"></i> Message of Day</a></li>
<li><a href="/dashboard/notice/index"><i class="fa fa-columns"></i> Notice</a></li>
<li><a href="/dashboard/events/index"><i class="fa fa-flag"></i> Events</a></li>
<li><a href="/dashboard/task/index"><i class="fa fa-check-circle"></i> Task</a></li>
<li><a href="/dashboard/events/calendar"><i class="fa fa-calendar"></i> Calendar</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="javascript:void(0);"><i class="fa fa-comment"></i> SMS</a></li>
<li><a href="/communication/sms/employee-sms/index"><i class="fa fa-comments-o"></i> Employee SMS</a></li>
<li><a href="/communication/sms/student-sms/index"><i class="fa fa-comments-o"></i> Student SMS</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="javascript:void(0);"><i class="fa fa-envelope-o"></i> Email</a></li>
<li><a href="/communication/email/employee-email/index"><i class="fa fa-comments-o"></i> Employee Email</a></li>
<li><a href="/communication/email/student-email/index"><i class="fa fa-comments-o"></i> Student Email</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="#"><i class="fa fa-phone"></i> Telephone Diary</a></li>
<li><a href="/communication/telephone-diary/student-contact"><i class="fa fa-phone-square"></i> Student Contact</a></li>
<li><a href="/communication/telephone-diary/employee-contact"><i class="fa fa-phone-square"></i> Employee Contact</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="javascript:void(0);"><i class="fa fa-question-circle"></i> Helpdesk</a></li>
<li><a href="/communication/helpdesk/helpdesk-subjects/index"><i class="fa fa-question"></i> Inquiry Subjects</a></li>
<li><a href="/communication/helpdesk/helpdesk-tickets/index"><i class="fa fa-ticket"></i> Inquiry Tickets</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="javascript:void(0);"><i class="fa fa-commenting"></i> Parent Communication</a></li>
<li><a href="/communication/parent-comm-settings/index"><i class="fa fa-gear"></i> Settings</a></li></ul>		</div>
	</div>
												</div>
											</div><!--./tab-pane-->
																					<div id="reports" class="tab-pane">
												<div class="visible-sm visible-xs menu-box-header">
													<button aria-label="Close" class="close" type="button">
														<span aria-hidden="true">×</span>
													</button>
													<h4><i class="fa fa-line-chart"></i> Reports Center</h4>
												</div>
												<div class="row">
														
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="/report/default/index"><i class="fa fa-line-chart"></i> Reports Center</a></li>
<li><a href="/report/employee/empinforeport"><i class="fa fa-bar-chart"></i> Employee</a></li>
<li><a href="/report/student/stuinforeport"><i class="fa fa-bar-chart"></i> Student</a></li>
<li><a href="/report/fees/index"><i class="fa fa-bar-chart"></i> Fees</a></li>
<li><a href="/report/fees/date-wise-fees"><i class="fa fa-bar-chart"></i> Daily Fees Collection</a></li>
<li><a href="/report/leave/index"><i class="fa fa-bar-chart"></i> Leave</a></li>
<li><a href="/report/transport/index"><i class="fa fa-bar-chart"></i> Transport</a></li>
<li><a href="/report/assignment/index"><i class="fa fa-bar-chart"></i> Assignment</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="#"><i class="fa fa-building-o"></i> Hostel Report</a></li>
<li><a href="/report/hostel/fees-report"><i class="fa fa-money fa-lg"></i> Fees Report</a></li>
<li><a href="/report/hostel/hostel-occupied-room"><i class="fa fa-info-circle fa-lg"></i> Occupied Room</a></li>
<li><a href="/report/hostel/hostel-unoccupied-room"><i class="fa fa-info-circle fa-lg"></i> Unoccupied Room</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="#"><i class="fa fa-check-square-o"></i> Enquiry</a></li>
<li><a href="/report/admission/enquiry"><i class="fa fa-users"></i> Enquiry Report</a></li>
<li><a href="/report/admission/followups"><i class="fa fa-random"></i> Follow-up Report</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="#"><i class="fa fa-check-square-o"></i> Attendance</a></li>
<li><a href="/report/attendance/emp-attn-report"><i class="fa fa-check-square"></i> Employee</a></li>
<li><a href="/report/attendance/stu-attn-report"><i class="fa fa-check-square"></i> Student</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="#"><i class="fa fa-calendar-o" aria-hidden="true"></i> Timetable</a></li>
<li><a href="/report/timetable/daily-schedule"><i class="fa fa-bank" aria-hidden="true"></i> Daily Schedule</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="#"><i class="fa fa-clipboard" aria-hidden="true"></i> Exam Report</a></li>
<li><a href="/exam/report/exam-group"><i class="fa fa-area-chart" aria-hidden="true"></i> Exam Group Report</a></li>
<li><a href="/exam/report/subject-wise"><i class="fa fa-area-chart" aria-hidden="true"></i> Subject Wise</a></li>
<li><a href="/exam/report/grouped-exam"><i class="fa fa-area-chart" aria-hidden="true"></i> Grouped Exam Wise</a></li></ul>		</div>
	</div>
												</div>
											</div><!--./tab-pane-->
																					<div id="administration" class="tab-pane">
												<div class="visible-sm visible-xs menu-box-header">
													<button aria-label="Close" class="close" type="button">
														<span aria-hidden="true">×</span>
													</button>
													<h4><i class="fa fa-wrench"></i> Administration</h4>
												</div>
												<div class="row">
														
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="/hostel/default/index"><i class="fa fa-building"></i> Hostel</a></li>
<li class="active"><a href="/hostel/hostel-type/index"><i class="fa fa-sort-alpha-asc"></i> Hostel Type</a></li>
<li><a href="/hostel/hostel-detail/index"><i class="fa fa-building-o"></i> Hostel Details</a></li>
<li><a href="/hostel/hostel-blocks/index"><i class="fa fa-sitemap"></i> Hostel Blocks</a></li>
<li><a href="/hostel/hostel-room-master/index"><i class="fa fa-building"></i> Room Details</a></li>
<li><a href="/hostel/hostel-fees-master/index"><i class="fa fa-money"></i> Fees Structure</a></li>
<li><a href="/hostel/hostel-student-registration/index"><i class="fa fa-user-plus"></i> Student Registration</a></li>
<li><a href="/hostel/hostel-student-registration/registered-student-list"><i class="fa fa-users"></i> Registered Students</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="/transport/default/index"><i class="fa fa-bus"></i> Transport</a></li>
<li><a href="/transport/transport-vehicle/index"><i class="fa fa-ambulance"></i> Vehicle Details</a></li>
<li><a href="/transport/transport-drivers-details/index"><i class="fa fa-user-plus"></i> Driver Details</a></li>
<li><a href="/transport/transport-route/index"><i class="fa fa-calendar"></i> Manage Route</a></li>
<li><a href="/transport/transport-allocation/index"><i class="fa fa-list-alt"></i> Student Bus Allocation</a></li>
<li><a href="/transport/transport-fees-master/index"><i class="fa fa-money"></i> Fees Collect</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="/accounts/default/index"><i class="fa fa-book"></i> Accounts</a></li>
<li><a href="/accounts/exp-category/index"><i class="fa fa-file-text"></i> Exp. Category</a></li>
<li><a href="/accounts/exp-payable/index"><i class="fa fa-file-text"></i> Payable</a></li>
<li><a href="/accounts/exp-payable-details/index"><i class="fa fa-file"></i> Expenses</a></li></ul>		</div>
	</div>
												</div>
											</div><!--./tab-pane-->
																					<div id="document" class="tab-pane">
												<div class="visible-sm visible-xs menu-box-header">
													<button aria-label="Close" class="close" type="button">
														<span aria-hidden="true">×</span>
													</button>
													<h4><i class="fa fa-file-text-o"></i> Document</h4>
												</div>
												<div class="row">
														
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="javascript:void(0);"><i class="fa fa-certificate"></i> Certificate/Letters</a></li>
<li><a href="/document/certificate-letter/index"><i class="fa fa-file-text"></i> Manage Certificate/Letter</a></li>
<li><a href="/document/student-letter/index"><i class="fa fa-server"></i> Student Certificate/Letter</a></li>
<li><a href="/document/employee-letter/index"><i class="fa fa-server"></i> Employee Certificate/Letter</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="javascript:void(0);"><i class="fa fa-files-o"></i> Manage Documents</a></li>
<li><a href="/document-category/index"><i class="fa fa-reorder"></i> Document Category</a></li>
<li><a href="/document/manage-docs/student"><i class="fa fa-file-o"></i> Student Docs</a></li>
<li><a href="/document/manage-docs/employee"><i class="fa fa-file-o"></i> Employee Docs</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="javascript:void(0);"><i class="fa fa-share-alt"></i> File Sharing</a></li>
<li><a href="/document/file-uploads-category/index"><i class="fa fa-list"></i> File Category</a></li>
<li><a href="/document/file-uploads/index"><i class="fa fa-file-text"></i> File Uploads</a></li></ul>		</div>
	</div>
												</div>
											</div><!--./tab-pane-->
																					<div id="library" class="tab-pane">
												<div class="visible-sm visible-xs menu-box-header">
													<button aria-label="Close" class="close" type="button">
														<span aria-hidden="true">×</span>
													</button>
													<h4><i class="fa fa-university"></i> Library</h4>
												</div>
												<div class="row">
														
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="/library/default/index"><i class="fa fa-university"></i> Library</a></li>
<li><a href="/library/library-book-category/index"><i class="fa fa-sort-alpha-asc"></i> Book Category</a></li>
<li><a href="/library/library-cupboard-master/index"><i class="glyphicon glyphicon-object-align-bottom"></i> Cup Board</a></li>
<li><a href="/library/library-cupboard-shelf/index"><i class="glyphicon glyphicon-equalizer"></i> Cup Board Shelf</a></li>
<li><a href="/library/library-vendor-master/index"><i class="fa fa-cart-plus"></i> Book Vendor</a></li>
<li><a href="/library/library-book-status/index"><i class="glyphicon glyphicon-tag"></i> Book Status</a></li>
<li><a href="/library/library-book-master/index"><i class="glyphicon glyphicon-book"></i> Books</a></li>
<li><a href="/library/library-borrow-transaction/index"><i class="fa fa-book"></i> Issue Book</a></li>
<li><a href="/library/library-borrow-transaction/borrower"><i class="fa fa-reply-all"></i> Return/Renew Book</a></li>
<li><a href="/library/library-fine-master/index"><i class="fa fa-eject"></i> Fine</a></li></ul>		</div>
	</div>
												</div>
											</div><!--./tab-pane-->
																					<div id="settings" class="tab-pane active">
												<div class="visible-sm visible-xs menu-box-header">
													<button aria-label="Close" class="close" type="button">
														<span aria-hidden="true">×</span>
													</button>
													<h4><i class="fa fa-cogs"></i> Settings</h4>
												</div>
												<div class="row">
														
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="/default/index"><i class="fa fa-cogs"></i> Configuration</a></li>
<li><a href="/country/index"><i class="fa fa-globe"></i> Country</a></li>
<li><a href="/state/index"><i class="fa fa-map-marker"></i> State/Province</a></li>
<li><a href="/city/index"><i class="fa fa-building-o"></i> City/Town</a></li>
<li><a href="/languages/index"><i class="fa fa-language"></i> Languages</a></li>
<li><a href="/nationality/index"><i class="fa fa-flag-checkered"></i> Nationality</a></li>
<li><a href="/organization/index"><i class="fa fa-bank"></i> Institute</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="#"><i class="fa fa-user"></i> Manage Users</a></li>
<li><a href="/user/resetstudpassword"><i class="fa fa-key"></i> Student Reset Password</a></li>
<li><a href="/user/resetemppassword"><i class="fa fa-key"></i> Employee Reset Password</a></li>
<li><a href="/user/manage-parent"><i class="fa fa-key"></i> Manage Parent</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="#"><i class="fa fa-user-secret"></i> Manage User Rights</a></li>
<li><a href="/rights/assignment/index"><i class="fa fa-male"></i> Assignment</a></li>
<li><a href="/rights/role/index"><i class="fa fa-user-times"></i> Role</a></li></ul>		</div>
	</div>
	
	<div class="col-md-3 col-sm-4 col-xs-12">
		<div class="menu-box">
			<ul><li><a href="#"><i class="fa fa-cog"></i> Additional</a></li>
<li><a href="/configuration/system-setting"><i class="fa fa-cogs"></i> System Settings</a></li>
<li><a href="/notification/setting/conf"><i class="fa fa-bell-o"></i> Notification Settings</a></li>
<li><a href="/backup/default/index"><i class="fa fa-database"></i> Backup</a></li>
<li><a href="/login-details/index"><i class="fa fa-history"></i> Login History</a></li></ul>		</div>
	</div>
												</div>
											</div><!--./tab-pane-->
																		</div><!-- end col -->
							</div><!-- /.tabbable -->
						</div><!-- end esmenu-content -->
					</div></li>
				</ul><!-- dropdown-menu -->
			</li><!-- end mega menu -->
		</ul><!--./navbar-nav-->
	</div>