<div dir="ltr"><span style="font-family:tahoma,geneva,sans-serif;font-size:14px">Dear Student,</span><br>
    <div class="gmail_quote">
        <div dir="ltr">
            <div dir="ltr">
                <div class="gmail_quote">
                    <div dir="ltr">
                        <div dir="ltr">
                            <div dir="ltr">
                                <div>
                                    <font face="Roboto, Tahoma, Verdana, Segoe, sans-serif">&nbsp;</font>
                                    <div style="font-family:Roboto,Tahoma,Verdana,Segoe,sans-serif"><span
                                            style="font-size:14px"><span style="font-family:tahoma,geneva,sans-serif">
                                                <font color="#ff0000">Graphic Era University, Dehradun announces Early
                                                    Registration Open for
                                                    2020 Session:</font>
                                            </span></span></div>
                                    <div style="font-family:Roboto,Tahoma,Verdana,Segoe,sans-serif"><span
                                            style="font-size:14px"><span
                                                style="font-family:tahoma,geneva,sans-serif"><br>
                                            </span></span></div>
                                    <div>
                                        <font face="tahoma, geneva, sans-serif" style="font-size:14px">Due to COVID-19,
                                            we understand that you are in a confuse state, as through what is going to
                                            happen to current
                                        </font>
                                        <font face="Roboto, Tahoma, Verdana, Segoe, sans-serif"><span
                                                style="font-size:14px">Class Results and how the admission process will
                                                take place for your&nbsp;preferred undergraduate courses.</span></font>
                                    </div>
                                    <div>
                                        <font face="Roboto, Tahoma, Verdana, Segoe, sans-serif"><span
                                                style="font-size:14px"><br>
                                            </span></font>
                                    </div>
                                    <div>
                                        <font face="Roboto, Tahoma, Verdana, Segoe, sans-serif"><span
                                                style="font-size:14px">To make it&nbsp;comfortable&nbsp;for &nbsp;you,
                                                we are now taking early registrations on the basis of marks you scored
                                                in Class X &amp; XI.&nbsp;</span></font>
                                    </div>
                                    <div><br>
                                    </div>
                                    <div>
                                        <font color="#000000" face="tahoma, geneva, sans-serif"><span
                                                style="font-size:14px">The undergraduate program in
                                                Engineering,Management,<wbr>Commerce,Hospitality &amp; Hotel Management ,Life Sciences,&nbsp;</span><span
                                                    style="font-size:14px">Nursing</span><span
                                                    style="font-size:14px">,Computer
                                                    Applications and more.</span></font>
                                    </div>
                                    <div><span
                                            style="font-size:14px;font-family:tahoma,geneva,sans-serif;color:rgb(0,0,0)"><br>
                                        </span></div>
                                    <div>
                                        <font color="#ff0000">
                                            <font face="tahoma, geneva, sans-serif"><span
                                                    style="font-size:14px">&nbsp;</span></font><span
                                                style="text-decoration-line:none">
                                                <font face="tahoma, geneva, sans-serif"><span style="font-size:14px">If
                                                        you're interested
                                                        to take a step further and want to be part of the Graphic Era
                                                        University Dehradun, Kindly call our&nbsp;</span></font>
                                            </span>
                                            <font face="tahoma, geneva, sans-serif"><span
                                                    style="font-size:14px">counsellors for further&nbsp;information for
                                                    the same.</span></font>
                                        </font>
                                    </div>
                                </div>
                                <div>
                                    <font color="#ff0000">
                                        <font face="tahoma, geneva, sans-serif"><span style="font-size:14px"><br>
                                            </span></font>
                                    </font>
                                </div>
                                <div>
                                    <font color="#ff0000" face="tahoma, geneva, sans-serif"><span
                                            style="font-size:14px"><b>For Registration(click)</b>:
                                            <a href="http://bit.ly/2VqM328" target="_blank">bit.ly/2VqM328</a></span>
                                    </font>
                                </div>
                                <div>
                                    <font color="#ff0000" face="tahoma, geneva, sans-serif"><br>
                                    </font>
                                </div>
                                <div>
                                    <font face="tahoma, geneva, sans-serif" color="#000000"><b>For Assistance Call:
                                            7017974293</b></font>
                                </div>
                                <div>
                                    <font color="#ff0000" face="tahoma, geneva, sans-serif"><span
                                            style="font-size:14px">&nbsp;</span></font>
                                </div>
                                <div><b>
                                        <font color="#000000">
                                            <font face="inherit">Scholarships&nbsp;</font>available<font face="inherit">
                                                &nbsp;for&nbsp;</font>
                                        </font><span
                                            style="font-family:inherit">Uttarakhand Domicile, Additional 10% for Girls Students etc.&nbsp;</span>
                                    </b><br>
                                </div>
                                <div>
                                    <ul
                                        style="box-sizing:border-box;margin:0px;padding:0px;font-family:&quot;Roboto Condensed&quot;,sans-serif">
                                        <li style="box-sizing:border-box;padding:0px;list-style:none">
                                            <div><br>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <font color="#000000" face="tahoma, geneva, sans-serif"><span
                                            style="font-size:14px">with regards</span></font>
                                </div>
                                <div>
                                    <font color="#000000" face="tahoma, geneva, sans-serif"><span
                                            style="font-size:14px">Admission Team</span></font>
                                </div>
                                <div>
                                    <font color="#000000" face="tahoma, geneva, sans-serif"><span
                                            style="font-size:14px">Graphic Era University</span></font>
                                </div>
                                <div>
                                    <font color="#000000" face="tahoma, geneva, sans-serif"><span
                                            style="font-size:14px">Dehradun</span></font>
                                </div>
                                <div>
                                    <font color="#000000" face="tahoma, geneva, sans-serif"><span
                                            style="font-size:14px">Uttarakhand,India</span></font>
                                </div>
                                <div class="yj6qo"></div>
                                <div class="adL">
                                </div>
                            </div>
                            <div class="adL">
                            </div>
                        </div>
                        <div class="adL">
                        </div>
                    </div>
                    <div class="adL">
                    </div>
                </div>
                <div class="adL">
                </div>
            </div>
            <div class="adL">
            </div>
        </div>
        <div class="adL">
        </div>
    </div>
    <div class="adL">
    </div>
</div>